argh==0.26.2
certifi==2019.6.16
chardet==3.0.4
Click==7.0
docker-pycreds==0.4.0
gitdb2==2.0.5
GitPython==2.1.13
gql==0.1.0
graphql-core==2.2.1
idna==2.8
numpy==1.17.0
nvidia-ml-py3==7.352.0
pathtools==0.1.2
Pillow==6.1.0
promise==2.2.1
psutil==5.6.3
python-dateutil==2.8.0
PyYAML==5.1.2
requests==2.22.0
Rx==1.6.1
sentry-sdk==0.10.2
shortuuid==0.5.0
six==1.12.0
smmap2==2.0.5
subprocess32==3.5.4
torch==1.1.0.post2
torchvision==0.3.0
tqdm==4.32.2
urllib3==1.25.3
wandb==0.8.6
watchdog==0.9.0
